/* 
    Copy from styles.css -> .au-btn-submit
    Rename as .security-btn
    Change border to 10px
*/

.security-btn{
    position:relative;
    right:0;
    min-width:80px;
    color:#fff;
    border:10px solid #205b8d;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:43px;
    background:#205b8d
}

/* 
    Copy .form-header from styles.css
    rename as .login-status-header
*/

.login-status-header {
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex
}

/* 
    .au-input from styles.css
    rename to .login-status-user-info
*/

.login-status-user-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height:43px;
    border:1px;
    padding:0 17px;
    max-width: 200px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    -moz-transition:all .5s ease;
    transition:all .5s ease
}